Source: foxchaser
Section: misc
Priority: extra
Maintainer: Erik Kristensen <erik@erikkristensen.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: https://github.com/RainMak3r/Rainforest

Package: foxchaser
Architecture: all
Depends: ${misc:Depends}
Description: F0xChas3r is a forensic tool for extracting and viewing internet artifacts from Mozlila Firefox. 
 F0xChas3r is a forensic tool for extracting and viewing internet artifacts from Mozlila Firefox.
 The internet artifacts include bookmark, auto-complete, download, cookie, DomStorage, history,
 extension and cache records. All the outputs will be saved into CSV file with UTC time.
